<!doctype html>
<html>
  <head>
      <title>{{ptitle}} </title>
  </head>
  <body>
    <h1>About me </h1>
    <p>sports programmer || web developer!!!!!
    </p>

    <a href="/">HOME</a>
    <!-- <a href="/about">About page</a> -->
    {{> footer}}
  </body>
</html>
