<!doctype html>
<html>
  <head>
      <title>HOME PAGE</title>
  </head>
  <body>
    <h1>welcome to my app</h1>
    <p>a good day to kick start!!!!!
    </p>
    <a href="/project">projects</a>
    <a href="/about">About page</a>


    {{> footer}}
  </body>
</html>
