<!doctype html>
<html>
  <head>
      <title>{{ptitle}} </title>
  </head>
  <body>
    <h1>INDEX PAGE  </h1>
    <p>sports programmer !!!!!
    </p>
    <p> web developer
    </p>

    <a href="/">HOME</a>
    <!-- <a href="/about">About page</a> -->
    {{> footer}}
  </body>
</html>
